.button {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    color: #555555;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(188,211,233, 0.3);
    
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        flex: 1 0 0;
    }

    > span {
        display: flex;
        font-family: 'MaruBuriSemiBold';
    }
}

@media (max-width: 768px) {
    .button {
        
        > span {
            font-size: 10px;
        }
    }
}