.buttonWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mapName {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-family: 'MaruBuriLight';
            gap: 20px;
            line-height: 1.8;
    
            .mapNameWrap {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                margin-bottom: 10px;
                
                .name {
                    font-size: 20px;
                       font-family: 'MaruBuriBold';
                       color: #84b6e4;
                   }
       
                   .address {
                       font-family: 'MaruBuri';
                   }
            }
    
            .transport {
                display: flex;
                gap: 10px;
    
                .left {
                    display: flex;
                    font-family: 'MaruBuriBold';
                    color: #676767;
                    min-width: fit-content
                }
    
                .right {
                    font-family: 'MaruBuri';
                    color: #676767;
                    white-space: pre-wrap;
                }
    
                .carRight {
                    font-family: 'MaruBuri';
                    color: #676767;
                }
            }
        }

        .mapImage {
            margin: 20px 0;
            width: 70vw;
        }
    }


}

.buttons { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    > hr {
        width: 1px;
        height: 20px;
        border-color:rgba(103,103,103, 0.2);
        border-radius:5px;
    }
}

.date {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'MaruBuriBold';
    color: #676767;
    margin-bottom: 10px;
    opacity: 0.8;
}

.br {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    font-size: 14px;
    width: 70vw;
    margin: 3vh 0;
    font-family: 'MaruBuri';
    border-bottom: 1px solid rgba(103,103,103, 0.2);
}
.dividerWrap {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    font-size: 14px;
    width: 70vw;
    margin: 3vh 0;
    font-family: 'MaruBuri';
    border-bottom: 1px solid rgba(103,103,103, 0.2);
}


@media (max-width: 768px) {
    .mapName {
        font-size: 12px;
    }

    .mapName {
        .transport {
            .carRight{
                font-family: 'MaruBuri';
                color: #676767;
                white-space: pre-wrap;
            }
        }
    }

    .buttonWrap {
        &.parent {
            .mapName {
                align-items: center;
                .mapNameWrap {
                    .name {
                        font-size: 25px;
                    }
                    .address {
                        font-size: 20px;
                    }
                }

                .transport {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 80%;
                  
                    .left {
                        font-size: 20px;
                    }
                    .right {
                        font-size: 20px;
                        white-space: wrap;
                    }

                    .carRight {
                        font-size: 20px;
                    }
                }

                
            }
        }
    }

    .parent {
        .buttons {
            flex-direction: column;
    
            .button {
                width: 70vw;
                
                > span {
                    font-size:20px;
                }
                
            }
            > hr {
                display: none;
            }
        }
    }
}